/* SECTION 通用選擇器 */
* {
  /* ANCHOR 版面 */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size:10px */
  /* 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
}

.margin-right-sm {
  margin-right: 1.6rem;
}
/* !SECTION */

/* SECTION reusable components */

/* SECTION container */
.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
/* !SECTION */

/* SECTION heading */
.heading-primary,
.heading-secondary,
.heading-tertiary {
  /* ANCHOR 版面 */

  /* ANCHOR 字體 */
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary {
  /* ANCHOR 字體 */
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  /* ANCHOR 字體 */
  font-size: 4.4rem;
  line-height: 1.2;
  /* ANCHOR 版面 */
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
/* !SECTION */

/* SECTION btn */
.btn,
.btn:link,
.btn:visited {
  /* ANCHOR 版面 */
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  /* ANCHOR 文字 */
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  /* ANCHOR 動畫 */
  transition: all 0.3s;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
}

.btn--form {
  background-color: #45260a;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}

.btn--form:hover {
  background-color: #fff;
  color: #555;
}
/* !SECTION */

/* SECTION grid */
.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--center-v {
  align-items: center;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}
/* !SECTION */

/* SECTION margin */
.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

/* !SECTION */

/* SECTION text */
.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
}
/* !SECTION */

/* SECTION link */
.link:link,
.link:visited {
  display: inline-block;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}
/* !SECTION */

/* !SECTION */

/* SECTION body */
body {
  /* ANCHOR 字體 */
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #555;
  /* ANCHOR 行 */
  line-height: 1;
}

/* SECTION header */
/* SECTION logo */
.logo {
  height: 2.2rem;
}
/* !SECTION */

/* SECTION header */
.header {
  /* ANCHOR 版面 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;
  height: 9.6rem;
  padding: 0 4.8rem;
}
/* !SECTION */

/* SECTION main-nav */
.main-nav-list {
  /* ANCHOR 版面 */
  display: flex;
  gap: 3.2rem;
  align-items: center;
  /* ANCHOR 樣式 */
  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  /* ANCHOR 版面 */
  display: inline-block;
  /* ANCHOR 文字 */
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  /* ANCHOR 動畫 */
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  /* ANCHOR 文字 */
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  /* ANCHOR 版面 */
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  /* ANCHOR 文字 */
  color: #fff;
  /* ANCHOR 背景 */
  background-color: #e67e22;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  /* ANCHOR 背景 */
  background-color: #cf711f;
}
/* !SECTION */
/* !SECTION */

/* SECTION section:section-hero */
.section-hero {
  /* ANCHOR 版面 */
  padding: 4.8rem 0 9.6rem 0;
  /* ANCHOR 背景 */
  background-color: #fdf2e9;
}

/* SECTION div:hero */
.hero {
  /* ANCHOR 版面 */
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  gap: 9.6rem;
  /* ANCHOR 對齊 */
  align-items: center;
}

/* SECTION div:hero-text-box */
.hero-text-box {
  margin-bottom: 0;
}

/* SECTION heading-primary */

/* !SECTION */

/* SECTION p:hero-description */
.hero-description {
  /* ANCHOR 版面 */
  /* ANCHOR 字體 */
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
/* !SECTION p:hero-description*/

/* SECTION a:btn */
.btn--full:link,
.btn--full:visited {
  /* ANCHOR 背景 */
  background-color: #e67e22;
  /* ANCHOR 文字 */
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  /* ANCHOR 背景 */
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  /* ANCHOR 背景 */
  background-color: #fff;
  /* ANCHOR 文字 */
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  /* ANCHOR 背景 */
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff;
}
/* !SECTION a:btn*/

/* SECTION div:delivered-meals*/
.delivered-meals {
  /* ANCHOR 版面 */
  display: flex;
  margin-top: 8rem;
  gap: 1.6rem;
  align-items: center;
}

.delivered-imgs {
  /* ANCHOR 版面 */
  display: flex;
}

.delivered-imgs img {
  /* ANCHOR 版面 */
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  /* ANCHOR 外框 */
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #e67e22;
}
/* !SECTION div:delivered-meals*/

/* !SECTION hero-text-box*/

/* SECTION div:hero-img-box*/
.hero-img-box {
  margin-bottom: 0;
}

/* SECTION img:hero.png*/
.hero-img {
  margin-bottom: 0;
  /* ANCHOR 版面 */
  max-width: 100%;
}
/* !SECTION img:hero.png*/

/* !SECTION div:hero-img-box*/

/* !SECTION hero */
/* !SECTION section-hero*/

/* ANCHOR section-featured*/
/*<!-- SECTION section:section-featured-->*/
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}
/*<!-- SECTION div:container-->*/

/* <!-- SECTION h2:heading-featured-in-->*/
.heading-featured-in {
  /* ANCHOR 字體 */
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  color: #999;
  /* ANCHOR 版面 */
  margin-bottom: 2.4rem;
}
/* <!-- !SECTION -->*/

/*<!-- SECTION div:logos-->*/
.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
}
/*<!-- SECTION imgs-->*/
/*<!-- !SECTION -->*/
/* <!-- !SECTION -->*/

/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/

/* ANCHOR section-how*/
/*<!-- SECTION section:section-how-->*/
/*<!-- SECTION div:container-->*/
/*<!-- SECTION span:subheading-->*/
.subheading {
  /* ANCHOR 版面 */
  display: block;
  /* ANCHOR 文字 */
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}
/*<!-- !SECTION -->*/
/*<!-- SECTION h2:heading-secondary-->*/
/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/
/*<!-- SECTION div:container,,grid2cols-->*/
/*<!-- SECTION div:step-text-box01-->*/
/*<!-- SECTION p:step-number-->*/
.step-number {
  /* ANCHOR 文字 */
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}
/*<!-- !SECTION -->*/
/*<!-- SECTION h3:heading-tertiary-->*/
.heading-territory {
  /* ANCHOR 文字 */
  font-size: 3rem;
  line-height: 1.2;
  /* ANCHOR 版面 */
  margin-bottom: 3.2rem;
}
/*<!-- !SECTION -->*/
/*<!-- SECTION p:step-description-->*/
.step-description {
  /* ANCHOR 文字 */
  font-size: 1.8rem;
  line-height: 1.8;
}
/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/
/*<!-- SECTION div:step-img-box-->*/
.step-img-box {
  /* ANCHOR 版面 */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.step-img {
  width: 35%;
}

.step-img-box::before,
.step-img-box::after {
  /* ANCHOR 版面 */
  content: "";
  display: block;
  border-radius: 50%;
  /* ANCHOR 位置 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;
  z-index: -1;
}
/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/

/* ANCHOR section-meals*/
/*<!-- SECTION section:section-meals-->*/
.section-meals {
  padding: 9.6rem 0;
}
/*<!-- SECTION div:container-->*/

/*<!-- SECTION span:subheading-->*/
/*<!-- !SECTION -->*/

/*<!-- SECTION h2:heading-secondary-->*/
/*<!-- !SECTION -->*/

/*<!-- !SECTION -->*/

/*<!-- SECTION div:container-->*/

/*<!-- SECTION div:meal-->*/
.meal {
  /* ANCHOR 陰影 */
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  /* ANCHOR 版面 */
  border-radius: 11px;
  overflow: hidden;
}

/*<!-- SECTION img-->*/
.meal-img {
  width: 100%;
}
/*<!-- !SECTION -->*/

/*<!-- SECTION div:meal-content-->*/
.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}
/*<!-- SECTION span:tag-->*/
.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  /* ANCHOR 版面 */
  display: inline-block;
  padding: 0.4rem 0.8rem;
  border-radius: 100px;
  /* ANCHOR 字體 */
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #333;
}

.tag--vegetarian {
  background-color: #51cf66;
}

.tag--vegan {
  background-color: #94d82d;
}

.tag--paleo {
  background-color: #ffd43b;
}
/*<!-- !SECTION -->*/

/*<!-- SECTION p:meal-title-->*/
.meal-title {
  /* ANCHOR 字體 */
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  /* ANCHOR 版面 */
  margin-bottom: 3.2rem;
}
/*<!-- !SECTION -->*/

/*<!-- SECTION ul:meal-attribute-->*/
.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}
/*<!-- !SECTION -->*/

/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/

/*<!-- SECTION div:diets-->*/
/*<!-- SECTION ul:list-->*/
.list {
  /* ANCHOR 樣式 */
  list-style: none;
  /* ANCHOR 版面 */
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
/*<!-- SECTION li:list-item-->*/
.list-item {
  /* ANCHOR 字體 */
  font-size: 1.8rem;
  /* ANCHOR 版面 */
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}
/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/

/*<!-- SECTION div:container-->*/
.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}
/*<!-- !SECTION -->*/

/*<!-- SECTION section:section-testimonials-->*/
.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}
/*<!-- SECTION div:testimonials-container-->*/
.testimonials-container {
  padding: 9.6rem;
}

/*<!-- SECTION span:subheading-->*/
/*<!-- !SECTION -->*/

/* <!-- SECTION h2:heading-secondary-->*/
/*<!-- !SECTION -->*/

/*<!-- SECTION div:testimonials-->*/
.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}
/*<!-- SECTION figure:testimonial-->*/

/*<!-- SECTION img:testimonial-img-->*/
.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}
/* <!-- !SECTION -->*/
/* <!-- SECTION blockquote:testimonial-text-->*/
.testimonial-text {
  /* ANCHOR 字體 */
  font-size: 1.8rem;
  /* ANCHOR 版面 */
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
/* <!-- !SECTION -->*/
/* <!-- SECTION p:testimonial-name-->*/
.testmonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}
/* <!-- !SECTION -->*/
/*<!-- !SECTION -->*/

/*<!-- SECTION div:gallery-->*/
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}
/*<!-- SECTION figure:gallery-item-->*/
.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.1);
}
/*<!-- SECTION img:gallery-1.jpg-->*/
/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/

/* <!-- !SECTION -->*/
/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/

/*<!-- !SECTION -->*/

/*<!-- !SECTION -->*/

/* ANCHOR section-pricing*/
/*<!-- SECTION section:section-pricing-->*/
/*<!-- SECTION div:container-->*/
/*<!-- SECTION span:subheading-->*/
/*<!-- !SECTION -->*/
/*<!-- SECTION h2:heading-secondary-->*/
/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/
/*<!-- SECTION div:container grid grid--2-cols margin-bottom-md-->*/
/*<!-- SECTION div:pricing-plan pricing-plan--starter-->*/
.pricing-plan {
  border-radius: 11px;
  width: 75%;
}

.pricing-plan--starter {
  justify-self: end;
  border: 2px solid #fdf2e9;
  padding: 4.6rem;
}
/*<!-- SECTION header:plan-header-->*/
.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}
/*<!-- SECTION p:plan-name-->*/
.plan-name {
  /* ANCHOR 字體 */
  color: #cf711f;
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase;
  /* ANCHOR 版面 */
  letter-spacing: 0.75;
  margin-bottom: 3.2rem;
}
/*<!-- !SECTION -->*/

/*<!-- SECTION p:plan-price-->*/
.plan-price {
  /* ANCHOR 字體 */
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  /* ANCHOR 版面 */
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}
/*<!-- !SECTION -->*/

/*<!-- SECTION p:plan-text-->*/
.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}
/*<!-- !SECTION -->*/

/*<!-- SECTION ul:list-->*/

/*<!-- SECTION li:list-item-->*/
/*<!-- SECTION ion-icon:list-icon-->*/
/*<!-- !SECTION -->*/
/*<!-- SECTION span-->*/
/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/

/*<!-- SECTION li:list-item-->*/
/*<!-- SECTION ion-icon:list-icon-->*/
/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/
/*<!-- SECTION div:plan-sing-up-->*/
/*<!-- SECTION figure:gallery-item-->*/
/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/
/*<!-- SECTION div:princing-plan princing-plan--complete-->*/
.pricing-plan--complete {
  /* ANCHOR 版面 */
  background-color: #fdf2e9;
  padding: 4.6rem;
  /* ANCHOR 標籤 */
  position: relative;
  overflow: hidden;
}

.pricing-plan--complete::after {
  content: "Best value";
  position: absolute;
  top: 6%;
  right: -7%;

  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  background-color: #ffd43b;
  padding: 0.8rem 3.2rem;
  transform: rotate(45deg);
}
/*<!-- SECTION header:plan-header-->*/
/*<!-- SECTION p:plan-name-->*/
/*<!-- !SECTION -->*/
/*<!-- SECTION p:plan-name-->*/
/*<!-- !SECTION -->*/
/*<!-- SECTION p:plan-text-->*/
/*<!-- !SECTION -->*/
/*<!-- SECTION ul:list-->*/
/*<!-- SECTION li:list-item-->*/
/*<!-- SECTION ion-icon:list-icon-->*/
/*<!-- !SECTION -->*/
/*<!-- SECTION span-->*/
/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/

/*<!-- SECTION div:plan-sign-up-->*/
.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}
/*<!-- SECTION a-->*/
/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/
/*<!-- SECTION div:container grid-->*/
/*<!-- SECTION aside:plan-details-->*/
.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}
/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/
/*<!-- SECTION div:container grid grid--4-cols-->*/

/*<!-- SECTION div:feature-->*/

/*<!-- SECTION ion-icon:feature-icon-->*/
.feature-icon {
  color: #e67e22;
  height: 3.2rem;
  width: 3.2rem;
  margin-bottom: 3.2rem;
  background-color: #fdf2e9;
  padding: 1.6rem;
  border-radius: 50%;
}
/*<!-- !SECTION -->*/

/*<!-- SECTION p:feature-title-->*/
.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
/*<!-- !SECTION -->*/

/*<!-- SECTION p:feature-text-->*/
.feature-text {
  font-size: 1.8rem;
  line-height: 1.6rem;
}
/*<!-- !SECTION -->*/

/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/

/* ANCHOR section-cta*/
/*<!-- SECTION section:section-cta-->*/
.section-cta {
  padding: 4.8rem 0 12.8rem;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(230, 125, 34, 0.5);
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  overflow: hidden;
}
/*<!-- SECTION div:container-->*/
/*<!-- SECTION div:cta-->*/

/*<!-- SECTION div:cta-text-box-->*/
.cta-text-box {
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  color: #2e1907;
}
/*<!-- SECTION h2:heading-secondary-->*/
.cta .heading-secondary {
  color: #2e1907;
  margin-bottom: 3.2rem;
}
/*<!-- !SECTION -->*/

/*<!-- SECTION p:cta-text-->*/
.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}
/*<!-- !SECTION -->*/

/*<!-- SECTION form:cta-form-->*/
.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}
.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form select {
  font-family: inherit;
}

.cta-form input::placeholder {
  color: #aaa;
}
/*<!-- SECTION div:feature-->*/

/*<!-- SECTION label:full-name-->*/
/*<!-- !SECTION -->*/
/*<!-- SECTION input-->*/
/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/

/*<!-- SECTION div-->*/
/*<!-- SECTION label:email-->*/
/*<!-- !SECTION -->*/
/*<!-- SECTION input-->*/
/*<!-- !SECTION -->*/
/* <!-- !SECTION -->*/

/*<!-- SECTION div-->*/
/*<!-- SECTION label:select-where-->*/
/*<!-- !SECTION -->*/
/*<!-- SECTION select:id-->*/
/*<!-- SECTION option-->*/
/* <!-- !SECTION -->*/
/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/

/* <!-- SECTION div:feature-->*/
/* <!-- !SECTION -->*/
/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/
/*<!-- SECTION div:feature-->*/
/* <!-- !SECTION -->*/
/* <!-- !SECTION -->*/

/* <!-- SECTION div:cta-img-box-->*/
.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}
/* <!-- !SECTION -->*/

/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/

/* ANCHOR section-footer*/
/*<!-- SECTION footer:footer-->*/
.footer {
  padding: 9.6rem 0 12.8rem 0;
}
/*<!-- SECTION div:container grid grid--footer-->*/

/*<!-- SECTION div:logo-col-->*/
.logo-col {
  display: flex;
  flex-direction: column;
}
/*<!-- SECTION a:footer-logo-->*/
.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}
/*<!-- !SECTION -->*/
/*<!-- SECTION img:img/omnifood-logo.png-->*/
/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/

/*<!-- SECTION ul:social-links-->*/
.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}
/*<!-- SECTION li-->*/
/*<!-- SECTION a:footer-link-->*/
/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/
/*<!-- SECTION p:copyright-->*/
.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}
/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/
/*<!-- SECTION div:address-col-->*/
/*<!-- SECTION p:footer-heading-->*/
.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}
/*<!-- !SECTION -->*/
/*<!-- SECTION address:contacts-->*/
.contacts {
  list-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}
/*<!-- SECTION p:address-->*/
/*<!-- !SECTION -->*/
/*<!-- SECTION p-->*/
/*<!-- SECTION a:footer-link-->*/
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}
/*<!-- !SECTION -->*/
/*<!-- SECTION a:footer-link-->*/
/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/
/*<!-- SECTION nav:nav-col-->*/
/*<!-- SECTION p:footer-heading-->*/
/*<!-- !SECTION -->*/
/*<!-- SECTION ul:footer-nav-->*/
.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
/*<!-- SECTION li:footer-link-->*/
/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/
/*<!-- SECTION nav:nav-col-->*/
/*<!-- SECTION p:footer-heading-->*/
/*<!-- !SECTION -->*/
/*<!-- SECTION ul:footer-nav-->*/
/*<!-- SECTION li:footer-link-->*/
/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/
/*<!-- SECTION nav:nav-col-->*/
/*<!-- SECTION p:footer-heading-->*/
/*<!-- SECTION ul:footer-nav-->*/
/*<!-- SECTION li:footer-link-->*/
/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/

/*<!-- !SECTION -->*/
/*<!-- !SECTION -->*/ ;
